{% extends 'photoapp/base.html' %}
{% load thumbnail %}

{% block title %}<h2>{{album.title}}</h2>{% endblock %}

{% block content %}

{% for photo in album.photo_set.all %}
    {% thumbnail photo.image "200x200" as im %}
        <a href="{% url 'photoapp.views.photo_view' album.pk photo.pk %}"><img src="{{ im.url }}"/></a><br>
    {% endthumbnail %}
{% endfor %}
<a href="{% url 'photoapp.views.new_photo' album.pk %}">Add a new photo</a><br>
<a href="{% url 'photoapp.views.home_view' %}">Back to home</a>
{% endblock %}