{% load staticfiles %}
<!DOCTYPE html>
<html>
<link href= "{% static "photoapp/base.css" %}" rel="stylesheet" type="text/css">
<head>{% block title %}PhotoApp: {% endblock %}</head>

<body>
    <div id='loginout'>
        {% if user.is_authenticated %}
        <a href="{% url 'photoapp.views.logout_view' %}">Logout</a>
        {% else %}
        <a href="{% url 'photoapp.views.login_view' %}">Login</a>
        {% endif %}
    </div>
    <div id='content'>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
