{% extends 'photoapp/base.html' %}

{% block title %}Your Albums{% endblock %}

{% block content %}
{% for album in albums %}
    <h3><a href="{% url 'photoapp.views.album_view' album.pk %}">{{ album.title }}</a></h3>
    <h6>by {{ album.photog }}</h6>
    <ul id='photos'>
    {% for photo in album.photo_set.all %}
        <li><a href="{% url 'photoapp.views.photo_view' album.pk photo.pk %}">{{ photo.caption }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
<a href="{% url 'photoapp.views.new_album' %}">Create a new album</a>
{% endblock %}