{% extends 'photoapp/base.html' %}
{% load staticfiles %}

{% block title %}<h2>{{photo.title}}</h2>{% endblock %}

{% block content %}

<h5>{{ photo.caption }}</h5>
<img src="{% static photo.image.url %}" /><br>
<b>Tags:</b><br>
{% for tag in photo.tag_set.all %}
    <a href="{% url 'photoapp.views.tag_view' tag.title %}">{{tag.title}}</a>
    <b> </b>
{% endfor %}
<br><a href="{% url 'photoapp.views.new_tag' album.pk photo.pk %}">Add a tag to this photo</a><br><br>
<a href="{% url 'photoapp.views.album_view' album.pk %}">Back to album view</a><br>
{% endblock %}