{% extends 'photoapp/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}photo{{ photo.pk }}{% endblock %}

{% block content %}
    <h2>Photo in {{ album.title }}</h2>
    {% if owner %}{% else %}
        <p>by {{photo.photog}}</p>
    {% endif %}
    {% thumbnail photo.image "800x800" as im %}
        <a href="{% static photo.image.url %}"><img src="{{ im.url }}"/></a><br>
    {% endthumbnail %}
    <a>{{ photo.caption }}</a><br>
    <h5>Tags:</h5>
    {% for tag in photo.tag_set.all %}
        <a href="{% url 'photoapp.views.tag_view' tag.title %}">{{tag.title}}</a>
        <a> </a>
    {% endfor %}
    <br>
    {% if owner %}
        <a href="{% url 'photoapp.views.new_tag' album.pk photo.pk %}">Add a tag to this photo</a><br><br>
    {% endif %}
    <a href="{% url 'photoapp.views.album_view' album.pk %}">Back to album view</a><br>
{% endblock %}